 .centro{
  padding-right: 5px;
  padding-left: 5px;
  }
  .espacio{
    padding-top: 25px;
  }
  footer{
    background: rgb(2, 136, 189);
    margin-bottom: 0px;
    margin: 10px 10px 0 10px;
    margin-top: 20px;
    color: black;
  }
  .jumbotron{
    background-image: url(download.jpeg);
    margin-top: 50px;
  }
  .carts{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
  }

  .btn-reserva{
    width: 100%;
    border-radius: 0px;
  }
  .bg-primary{
    transition: all ls ease;
  }
  .icon-espacio{
    padding-right: 5px;
  }
  h6{
    margin-bottom: 0px;
  }
  .card-body{
    padding: 1rem
  }
  .alinear{
    text-align: center;
  }
  .miModal
  {
    margin-top: 15px;
    margin-bottom: 5px;
  }