footer {
  background: #fffa19;
  margin-top: 50px;
  margin-bottom: 0px;
  margin: 10px 10px 0 10px;
  color: black; }

.jumbotron {
  background: #FF0000;
  margin-top: 50px;
  margin-bottom: 0px; }

.carts {
  flex: 1 150px;
  padding: 2px 5px 2px 5px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.bg-primary {
  transition: all ls ease; }

.icon-espacio {
  padding-right: 5px; }

h6 {
  margin-bottom: 0px; }

.card-body {
  padding: 1rem; }

.alinear {
  text-align: center; }

.miModal {
  margin-top: 15px;
  margin-bottom: 5px; }
