$yellow: #e11af3;
$red: #FF0000;

@mixin  margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}


footer{
  
    background: $yellow;
    @include margenes(50px,0px);
    margin: 10px 10px 0 10px;
    color: black;
  }
  .jumbotron{
    background: $red;
    @include margenes(50px,0px);
  }
  .carts{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
  }

  .btn-reserva{
    width: 100%;
    border-radius: 0px;
  }
  .bg-primary{
    transition: all ls ease;
  }
  .icon-espacio{
    padding-right: 5px;
  }
  h6{
    margin-bottom: 0px;
  }
  .card-body{
    padding: 1rem
  }
  .alinear{
    text-align: center;
  }
  .miModal
  {
    @include margenes(15px,5px);
  }